In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

import matplotlib.pyplot as plt

In [2]:
#loading the dataset
bigmart_df = pd.read_csv("Train.csv")

In [3]:
# first 5 rows
bigmart_df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
# data shape
bigmart_df.shape

(8523, 12)

In [5]:
# information about the dataset

bigmart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

### Feature data type:
Categorical features(string):
1. Item_Identifier
2. Item_Fat_Content
3. Item_Type
4. Outlet_Identifier 
5. Outlet_Size
6. Outlet_Location_Type 
7. Outlet_Type 

Numerical(continuous)(float):
1. Item_Weight
2. Item_Visibility  
3. Item_MRP
4. Item_Outlet_Sales

Numerical (discrete)(int):
1. Outlet_Establishment_Year

In [6]:
# missing value

bigmart_df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [7]:
bigmart_df["Item_Fat_Content"].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [8]:
# Standardize Item_Fat_Content labels by merging equivalent categories
bigmart_df["Item_Fat_Content"] = bigmart_df["Item_Fat_Content"].replace({"Low Fat":"Low_Fat", "low fat":"Low_Fat", "LF":"Low_Fat","reg":"Regular" })

In [9]:
bigmart_df["Item_Fat_Content"].unique()

array(['Low_Fat', 'Regular'], dtype=object)

Handling missing values

In [10]:
# Replace missing weights with the median weight of similar item types

bigmart_df["Item_Weight"] = bigmart_df["Item_Weight"].fillna(bigmart_df.groupby("Item_Type")["Item_Weight"].transform("median"))

In [11]:
# Fill missing Outlet_Size values using the most common size within the same Outlet_Type
bigmart_df["Outlet_Size"] = bigmart_df["Outlet_Size"].fillna(bigmart_df.groupby("Outlet_Type")["Outlet_Size"].transform(lambda x: x.mode()[0]))

In [12]:
bigmart_df.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [13]:
# statistical 

bigmart_df.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.813390,0.066132,140.992782,1997.831867,2181.288914
std,4.241384,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,9.310000,0.026989,93.826500,1987.000000,834.247400
50%,12.850000,0.053931,143.012800,1999.000000,1794.331000
75%,16.000000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800